body{
    background-color: rgb(0, 0, 0);
}
.container{
    border: 4px solid rgb(153, 254, 193);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height:500px;
    width:400px;
    margin-left: 550px;
    margin-top: 200px;
    background-color: rgb(143, 215, 145);
}
.container:hover{
    box-shadow: 10px 10px 10px 0.1px rgb(113, 213, 150);
    transform: 10px;
    border-color: rgb(30, 255, 0);
}
.box{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 40px;
}

#catagorie{
    height: 30px;
    border-radius: 8px;
    width:200px;
    color:rgb(0, 0, 0);
}
#price{
    height: 30px;
    border-radius: 8px;
    color:rgb(0, 0, 0);
}
.button{
    width: 100px;
    height: 30px;
    margin-left: 50px;
    color:rgb(0, 0, 0);
    border-radius: 10px;
   
}