body{
    background-color: rgb(81, 81, 81);
}
.container{
    border: 4px solid rgb(255, 153, 153);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height:500px;
    width:400px;
    margin-left: 550px;
    margin-top: 200px;
    background-color: rgb(255, 110, 110);
}
.container:hover{
    box-shadow: 10px 10px 10px rgb(213, 113, 113);
    transform: 10px;
    border-color: red;
}
.box{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 40px;
}

#catagorie{
    height: 30px;
    border-radius: 8px;
    width:200px;
    color:red;
}
#price{
    height: 30px;
    border-radius: 8px;
    color:red;
}
.button{
    width: 100px;
    height: 30px;
    margin-left: 50px;
    color:red;
    border-radius: 10px;
   
}